*, ::before, ::after{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Quicksand', sans-serif;
}

.container{
width: 100%;
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}
.carousel{
  border: 2px solid blue;
  width: 100%;
}
.carousel-inner{
  border: 2px solid navy;
  width: 100%;
}
.carousel-item{
  border: 2px solid red;
  width: 100%;
  display: flex;
}
.carousel-item div{
  border: 2px solid green;
  width: 50%;
}