*, ::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}
h1{
  border: 0px solid yellow;
  width: 95%;
  margin: 2%;
  font-size: 3.4rem;
  font-weight: bold;
  text-align: left;
  white-space: break-spaces;
}
p{
  border: 0px solid yellow;
  width: 95%;
  margin: 2%;
  text-align: left;
  font-size: 1.25rem;
  font-weight: lighter;
  white-space: break-spaces;
  text-overflow: "…";

}

.container{
  width: 100vw;
  max-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
